{% load static %}

<!-- Modal -->
{% comment %} {% extends 'base.html' %} {% endcomment %}

{% comment %} {% block body %} {% endcomment %}

<html>
<head>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Function to copy the address to the clipboard
            function copyAddress() {
                var address = '';
                address +=  document.getElementById('username').textContent + '\n';
                address +=  document.getElementById('city').textContent + '\n';
                address +=  document.getElementById('country').textContent + '\n';
                address +=  document.getElementById('housetown').textContent + '\n';
                address +=  document.getElementById('num').textContent + '\n';
                // Add other address fields here

                navigator.clipboard.writeText(address)
                    .then(function () {
                        console.log('Address copied to clipboard:', address);
                    })
                    .catch(function (error) {
                        console.error('Failed to copy address:', error);
                    });
            }

            // Add event listener to the copy button
            document.getElementById('copyBtn').addEventListener('click', copyAddress);
        });

    </script>
</head>
<body>
    <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel">Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% if user.is_authenticated %}
                <div class="modal-body">
                    <p>User Name: <span id="username">{{ request.user.username }}</span></p>
                    <p><span id="city">6220 Westpark Dr</span></p>
                    <p><span id="country">E 147 -GoshippingUS "account number</span></p>
                    <p> <span id="housetown">Houston </span></p>
                    <p> <span id="num">77057</span></p>
                    <!-- Add other address fields here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="copyBtn">Copy Address</button>
                </div>
                {% else %}
                <div class="modal-body">
                    <p>Please <a href="user/signin">sign in</a> to view the address.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
