{% extends 'interface_templates/base.html' %}


{% load static %}





{% block title %}

Help

{% endblock title %}







    {% block styles %}
    <style>
        /* Custom styles for the help page */
        body {
          background-image:  url("{% static 'images/help.jpg' %}");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        
        }
    
        .container {
          padding-top: 100px;
        }
    
        .help-content {
          background-color: #ffffff;
          padding: 30px;
          border-radius: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    
        .help-title {
          font-size: 24px;
          font-weight: bold;
          color: #333333;
        }
    
        .help-text {
          font-size: 16px;
          color: #555555;
        }
    
       .help{
    
        position:absolute;
        left:0;
        right:0;
        top:700px;
        width:100%;

       }
        
  
      </style>




    {% endblock %}


    {% block scripts %}
    
    

  
    
    {% endblock %}



    



{% block body %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="help-content">
            <h1 class="help-title">Need Help?</h1>
            <p class="help-text">If you have any questions or need assistance, please feel free to contact us using the following methods:</p>
            <ul class="help-text">
              <li>Phone: 123-456-7890</li>
              <li>Email: help@jongle.com</li>
          
            </ul>
            <div class="store-list">
                <h2>Featured Stores</h2>
                <p>Discover amazing stores to shop at with JONGLE!</p>
                <ul>
                    <li>Find unique and high-quality products.</li>
                    <li>Access a wide range of categories, from fashion to electronics.</li>
                    <li>Discover local and international brands.</li>
                    <li>Benefit from exclusive deals and discounts.</li>
                    <li>Enjoy convenient and secure shopping.</li>
                    <li>Get personalized recommendations based on your preferences.</li>
                    <li>Shop with confidence with our reliable shipping and tracking services.</li>
                    <li>Experience excellent customer support for any inquiries or issues.</li>
                </ul>
            </div>
           
            
            
            
            
            
            
            <button type="button" class="btn btn-primary">  <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#addressModal">Get Address</a></button>
          
        
            <button type="button" class="btn btn-primary">  <a class="nav-link" href="{% url 'interface:store'%}" >Stores</a></button>
        
        
      </div>
    </div>

    <footer class="help mt-5" style="background-color: #000; color: #fff; width:100wh;">
      
      <div class="container"> 
        <div class="row">
          <div class="col-md-4">
            <h4>About Us</h4>
            <p>Your company's mission and a brief description can go here. You can also include your company's history and values.</p>
          </div>
          <div class="col-md-3">
            <h4>Contact Information</h4>
            <address>
              <p><strong>JOONGLE</strong></p>
              <p>123 Shipping Street</p>
              <p>City, State ZIP Code</p>
              <p>Email: info@yourcompany.com</p>
              <p>Phone: +1 (123) 456-7890</p>
            </address>
          </div>
          <div class="col-md-3">
            <h4>Quick Links</h4>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Track Order</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>Follow Us</h4>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
              <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
              <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </footer>
    
    

{% endblock body %}




